h1{
    margin:50px;
    color: blue;
    text-align: center;
}
#csvFile{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

button{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    background-color: rgb(70, 239, 70);
    cursor: pointer;
}
#result{
    padding: 50px;
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    
}
